.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $veryLightGray;
    height: 2rem;
    padding: .68rem 1.56rem;

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__links{
            display: none;
        }

        .nav__button{
            display: none;
        }
        .nav__menu__burger span{
            display: block;
            background-color: $gayishBlue;
            width: 2rem;
            height: .25rem;
        }
        .nav__menu__burger span:not(:last-child){
            margin-bottom: .2rem;
        }
    }
    
    
}

@media (min-width:512px){
    .header{
        padding: .68rem 5.13rem;

        .nav{
            
            .nav__links{
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
            }

            .nav__links li:not(:last-child){
                margin-right: .75rem;
            }
    
            .nav__links li:last-child{
                margin-right: 6rem;
            }
    
            .nav__button{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0rem;
                border-radius: 20px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                width: 8rem;
                height: 1.45rem;
                color: $white;
                font-weight: 700;
                padding: .56rem 1.12rem;
            }

            .nav__menu__burger{
                display:none
            }
        }
        
    }
}